.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.cover {
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 5px;
}
.title {
  margin-bottom: 0.3rem;
}
