/* .card {
  position: relative;
  width:400px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
  color: red;
}


.card-image {
  width: 100%;
  height: 500px;
  object-fit: contain;
  transition: opacity 0.3s ease-in-out;
}

.card-image {
  background: #f0f0f0; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: #999999;
}

 .card-image::before {
  content: "Kein Bild verfügbar";
}

.card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card:hover .card-content {
  opacity: 1;
}

.card h3 {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}

.card p {
  margin: 8px 0;
  text-align: center;
}

.card-link {
  margin-top: 8px;
  color: #fff;
  text-decoration: none;
  border: 1px solid white;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background 0.3s ease;
  font-weight: 900;
}

.card-link:hover {
  background: white;
  color: #000;
} */

.cardImage {
	display: block;
	width: 100%;
  
}

.title {
	margin: 0;
	font-size: 1.4rem;
}

@media (min-width: 50em) {
	.title {
		font-size: 1.8rem;
	}
}

.card {
	--shadowColor: 187 60% 40%;
	display: flex;
	flex-wrap: wrap;
	background: hsl(187 70% 85%);
	max-width: 500px;
	width: 100%;
	box-shadow: 0.65rem 0.65rem 0 hsl(var(--shadowColor) / 1);
	border-radius: 0.8rem;
	overflow: hidden;
	border: 0.5rem solid;
	/* border: 0.2rem solid; */
}

.cardImage {
	aspect-ratio: 3 / 2;
	object-fit: cover;
	/* object-fit: contain; */
	flex: 1 1 150px;
	outline: 0.5rem solid;
  height: 150px;
  height: 100%;
}

.textColumn {
	padding: min(2rem, 5vw) min(2rem, 5vw) min(2.5rem, 5vw);
	flex: 1 0 50%;
}

.textColumn > * + * {
	margin: min(1.5rem, 2.5vw) 0 0 0;
}

.card a  {
	display: inline-block;
	color: black;
	padding: 0.5rem 1rem;
	text-decoration: none;
	background: hsl(187 75% 64%);
	border-radius: 0.6rem;
	font-weight: 700;
	border: 0.35rem solid;
  
}