
.app {
  text-align: center;
}

/* #todo: style headings */
h1 {
  color: #333;
  margin-top: 16px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
}

.home{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
}