@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('/fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf') format('truetype');
}

/* @font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto-mono/RobotoMono-Italic-VariableFont_wght.ttf') format('truetype');
} */

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --text-color: #333;
  --background-color: #ffffff;
  --card-border-color: #ff6347; /* Tomato */
  --card-background-color: #f0e68c; /* Khaki */
  --card-text-color: #4682b4; /* SteelBlue */
}

/* Global Styles */
body {  
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
}